@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {

}
/* ========== Scroll ===================================================== */
*::-webkit-scrollbar {
  width: 0.33rem;
  height: 0.33rem;
}
*::-webkit-scrollbar-track {
  background-color: #33333370;
}
*::-webkit-scrollbar-thumb {
  background-color: slategrey;
  outline: 1px solid slategrey;
}

/* ========== General ===================================================== */
body {
  margin: 0;
}

.avatar {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.defy {
  font-family: "Permanent Marker", serif;
  text-decoration: none;
  margin: 0;
}
a {
  text-decoration: none;
}
a.active > * {
  color: var(--pico-primary);
}