@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  --hue: 210;

  --a: hsl(var(--hue), 81%, 57%);
  --a-l: hsl(var(--hue), 82%, 85%);
  --a-d: hsl(var(--hue), 82%, 22%);

  --accent: var(--hue), 81%, 57%;
  --accent-light: var(--hue), 82%, 85%;
  --accent-dark: var(--hue), 82%, 22%;

  --border-radius: 6px;
  --border-width : 1px;
  --grid-gap : 1px;

  --bp-mobile : 768px;
}
/* ========== Scroll ===================================================== */
*::-webkit-scrollbar {
  width: 0.33rem;
  height: 0.33rem;
}
*::-webkit-scrollbar-track {
  background-color: #33333370;
}
*::-webkit-scrollbar-thumb {
  background-color: slategrey;
  outline: 1px solid slategrey;
}

/* ========== General ===================================================== */
body {
  margin: 0;
}

.defy {
  font-family: "Permanent Marker", serif;
  text-decoration: none;
  margin: 0;
}
a {
  text-decoration: none;
}
a.active > * {
  color: var(--pico-primary);
}

img.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  background-color: #f0f0f0;
}
span.avatar {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;

  background-color: lightblue;
  color: darkblue;
  border-radius: var(--border-radius);

  display: inline-flex;
  justify-content: center;
  align-items: center;

}